/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1DB954;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilos específicos para simular hoja de cálculo */
td[contenteditable="true"] {
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 50px;
    outline: none;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #32CD32;
}
